/**
 * extra.css
 */

.email {
  border-radius: 2px !important;
}

.vemail {
  margin: 3px auto;
}

.pdf {
  clear: both;
  padding: 5px 0;
}

.pull-top-15px {
  margin-top: -15px;
}

.pull-top-25px {
  margin-top: -25px;
}

.pull-top-35px {
  margin-top: -35px;
}
